.geoapify-autocomplete-input {
    background-color: rgb(249, 250, 251) !important;
    padding: 0.625 !important;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    /* margin-left: 1rem !important; */
    border-radius: 0.5rem !important;
    width: 100% !important;
    height: 2.75rem !important;
}
